// Colors
$red: #FD1015;
$blue: #31658f;
$yellow: #FFC65A;
$orange: #E67E22;

$green: #21cf81;
$light-green: #21cf8161;
$purple: #c40ff1;

$gray: #a4a4a4c2;
$light-gray: #F4F4F4;
$medium-gray: #e9ecef;
$dark-gray: #495057;
