.edit-img-title-box {
  margin: 0rem 1rem;
}

.fa-window-close {
  font-size: 37px;
  color: #E91E63;
}

.fa-edit {
   font-size: 20px;
  color: $gray;
  display: flex;
  padding: 0rem 0.3rem;
  text-decoration: none;
}

#edit-form-box {
  display: inline-block;
}

