// Specific CSS for your home-page
.container {
  padding: 13px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
  // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
