/////////////////////////// REVIEW NEW ///////////////////////////
.review-box {
 padding: 50px;
}

.write-review {
  background-color: $light-green;
  font-family: "Poppins";
  text-align: center;
  color: $dark-gray;
  padding: 6px;
}

.review-tips {
  background-color: $light-green;
  font-family: "Poppins";
  text-align: center;
  color: $dark-gray;
  padding: 6px;
}

.tips{
  color: $dark-gray;
}

.note {
  margin: 4px;
  padding: 5px;
  background-color: $light-gray;
}

// .tip-box {
//   // border: 1px solid $purple;
//   // border-radius: 2px;
// }

// .new-review-box {
//   // border: 1px solid $purple;
//   // border-radius: 2px;
// }
