p {
  color: $dark-gray;
  margin: -1px;
}

h2 {
  font-family: "Poppins";
  padding-bottom: 8px;
}
////////////// BOOK IMAGE /////////////////
.book-show-photo {
  padding: 15px;
  border-right: 1px solid $medium-gray;
}

.book-img {
  width: 219px;
  height: 312px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #cccccc94;

  &:hover {
    opacity: 0.8;
  }
}
////////// BOOK TITLE AND DESCRIPTION /////////
.book-description {
  padding: 25px;
  margin: 20px;
}

.info-list {
  ul {
  content: "•";
  color: $purple;
  }
}

.new-review {
  background-color: #21cf8161;
  text-align: center;
  padding: 7px;
  border-radius: 3px;
  font-weight: bold;
  font-family: "Poppins";
  a {
    text-decoration: none;
    color: $dark-gray;
    border-bottom: 2px dashed;
  }
    &:hover {
    opacity: 0.6;
  }
}

.title {
  text-align: center;
  background-color: #f4f4f4;
  color: $dark-gray;
  padding: 4px;
  margin: 0rem 2rem;
}
