<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="books-index">
          <% @books.each do |book|  %>
            <%= render "books/card", book: book %>
          <% end %>
        </div>
      </div>
  </div>
</div>
