////////////// STYLE BOOKS INDEX//////////////////
.book-card-photo {
  position: relative;
  padding: 4px;
  display: inline-block;
  border: 1px solid red;
}

.product-img {
  width: 219px;
  height: 312px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 0 10px #cccccc94;

  &:hover {
    opacity: 0.6;
    -webkit-filter: brightness(80%);
  }
}

.book-list {
  display: grid;
}

h3 {
  font-family: "Amatic SC";
  font-weight: bold;
  color: #4e5416;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 30px;
  padding-left: 12px;
}

.book-card-description {
  border: 1px solid $yellow;
  margin-left: 228px;
  padding: 20px;
  margin-top: -160px;
}
