.book-form {
  padding: 30px;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  color: $dark-gray;
}
////////////////////////////////////////////////
.review-form {
  padding: 30px;
  width: 95%;
  align-content: center;
}

textarea {
  height: 81px;
  width: 80%;
  border-radius: 2px;
}
////////////////////////////////////////////////
