.book-form {
  padding: 30px;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  color: $dark-gray;
  margin-bottom: 103px;
}

.form-control {
  background-color: #f8f0ff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
}
////////////////////////////////////////////////
.review-form {
  padding: 30px;
}

textarea {
  height: 115px;
  width: 80%;
  border: 1px solid $light-gray;
  border-radius: 2px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
}
////////////////////////////////////////////////
