.navbar-mybasket {
  justify-content: space-between;
  background: $purple;
  height: 60px;
}

.navbar-mybasket .navbar-collapse {
  flex-grow: 0;
  .nav-link {
    color: white;
  }
}

.navbar-mybasket .navbar-brand img {
  width: 48px;
}
